
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Jolly+Lodger&display=swap');


.logCon {
  font-family: 'Arial', sans-serif;
  background-color: #9e8241;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.jolly-lodger-regular {
  font-family: "Jolly Lodger", system-ui;
  font-weight: 400;
  font-style: normal;
}

.line {
  border: none; 
  height: 6px; 
  background-color: #431a1a; 
  width: 100%; 
  max-width: 800px;
  
}


.header {
  -webkit-text-stroke: .5px white;
  font-family: "Jolly Lodger", system-ui;
  color: black;
  font-size: 70px;
  text-align: center;
  margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    font-family: "Jolly Lodger", system-ui;
    font-size: xxx-large;
    -webkit-text-stroke: .5px black;
    /* border-bottom: 1px solid #ddd; */
  }
  
  th {
    font-weight: bold;
    text-align: left;
  }
  
  
.btn {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-top: 20px;
  }
  
.btn:hover {
    background-color: darkgreen;
  }
